.container {
    background-color: rgb(33, 33, 33);
    width: 100vw;
    height: var(--fill-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.description {
    color: var(--text-secondary-color);
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.join {
    position: absolute;
    bottom: 10%;
}