.container {
    width: 100vw;
    height: var(--fill-height);
    background-color: var(--backgroun-primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loginInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}